@model List<L02P02_2022VF650_2022MV652.Models.autores>

<h2>Lista de Autores</h2>

<table class="table">
    <thead>
        <tr>
            <th>Autor</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Model)
        {
            <tr>
                <td>@autor.autor</td>
                <td>
                    <a href="@Url.Action("LibrosPorAutor", "libros", new { autorId = autor.id })" class="btn btn-primary">
                        Ver Libros
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


