@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="form">
    <div class="nombre">
        <label>Autores</label>
    </div>
   <table class="table">
       <thead>
           <tr>
               <th>autor </th>
           </tr>
       </thead>
       <tbody>
           @foreach (var autores in (IEnumerable<dynamic>)ViewData["ListaDeAutor"])
            {
                <tr>
                    <td>@autores.autor</td>
                    <td>
                        <!-- Aquí, en lugar de un formulario, agregamos un enlace que redirige a la vista de libros -->
                        <a href="@Url.Action("LibrosPorAutor", "Libro", new { autorId = autores.id })" class="btn btn-primary">Seleccionar</a>
                    </td> <!-- Botón de Seleccionar -->
                </tr>
            }
        </tbody>
   </table>


