@model List<L02P02_2022VF650_2022MV652.Models.libros>

<h2>Libros del Autor</h2>

<table class="table">
    <thead>
        <tr>
            <th>Título</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var libro in Model)
        {
            <div class="book">
                <h3>@libro.nombre</h3>
                <p>@libro.descripcion</p>
                <p><strong>Precio:</strong> @libro.precio</p>

                <!-- Botón de Ver Detalles -->
                <a href="@Url.Action("Index", "comentarios_libros", new { id = libro.id })" class="btn btn-primary">Ver Detalles</a>
            </div>
        }
